
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 40px;
}

.nav-left {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.nav-right a:hover {
  color: #f39c12;
}

/* Home */
.profile-card {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 30px;
}

.profile-image {
    width: 190px;          /* adjust size */
    height: 250px;         /* same width and height for square */
    border-radius: 0;      /* no rounding, stays square */
    object-fit: cover;     /* keeps aspect ratio and crops if needed */
    /* border: 1px solid #333; */
}

.summary {
  max-width: 1000px;
}

/* About */
.about-section {
  padding: 40px;
  text-align: center;
}

.about-exp {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

/* Contact */
.contact-section {
  display: flex;
  padding: 40px;
  gap: 40px;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contact-right input,
.contact-right textarea {
  margin-bottom: 15px;
  padding: 10px;
}

button {
  padding: 10px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #f39c12;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background: #111;
  color: white;
  margin-top: 40px;
}

/* Projects */
.projects-section {
  padding: 40px;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.project-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Skills */
.skills-section {
  padding: 40px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.skill-card {
  background: #111;
  color: white;
  padding: 15px 25px;
  border-radius: 20px;
  font-weight: bold;
}

